<!doctype html>
<html>
  <head>
    <!-- Page information. -->
    <title>My Ohana Home | Contact</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Fonts. -->
    <!-- Source sans pro (regular and bold), from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/>
    <!-- Libraries styles. -->
    <!-- Normalize. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/normalize/normalize.css"/>
    <!-- Floatl. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/floatl-master/lib/css/floatl.css"/>
    <!-- Own styles. -->
    <link rel="stylesheet" rel="stylesheet" href="../styles/contact_page/contact_page_desktop.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/contact_page/contact_page_tablet.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/contact_page/contact_page_phone.css"/>
  </head>
  <body>
    <!-- Header of the Land Page. -->
    <div class="header_with_icon">
      <!-- Content of the header. -->
      <div class="header_content">
        <img class="header_logo" src="../images/ohana_icon.png"/>
      </div>
    </div>
    <!-- Principal content. -->
    <div class="view_content">
      <div id="contact_section">
        <div class="principal_column">
          <div class="principal_column_flex">
            <div class="principal_column_content">
              <img class="principal_logo" src="../images/MOH_logo.png"/>
              <p class="home_h1 white_text invitation_to_contact">¡Déjanos un mensaje!</p>
              <!-- Names input. -->
              <div class="input_register name_input">
                <div class="floatl">
                  <label for="register_last_names" class="floatl__label">Nombre(s)</label>
                  <input name="register_last_names" class="floatl__input" placeholder="Nombre(s)" type="text"/>
                </div>
              </div>
              <!-- Mail input. -->
              <div class="input_register mail_input">
                <div class="floatl">
                  <label for="register_last_names" class="floatl__label">Correo</label>
                  <input name="register_last_names" class="floatl__input" placeholder="Correo" type="text"/>
                </div>
              </div>
              <!-- Commentary input. -->
              <div class="input_register commentary_input" style="text-align: left;">
                <div class="floatl">
                  <label for="register_last_names" class="floatl__label">Comentario</label>
                  <textarea name="register_last_names" class="floatl__input textarea_commentary" placeholder="Comentario" type="text"></textarea>
                </div>
              </div>
              <!-- Button to submit register. -->
              <button class="send_button home_h3 white_text">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer. -->
      <div class="contact_footer">
        <!-- Top of the footer. -->
        <div class="contact_footer_top">
          <!-- Social networks logos container. -->
          <div class="contact_footer_top_content">
            <!-- Facebook logo. -->
            <img src="../images/facebook.png" class="facebook_logo">
            <!-- Google Plus logo. -->
            <img src="../images/googleplus.png" class="googleplus_logo">
          </div>
        </div>
        <!-- Bottom of the footer. -->
        <div class="contact_footer_bottom">
          <!-- Content of the bottom of the footer. -->
          <div class="contact_footer_bottom_content">
            <!-- Rights reserved text. -->
            <p class="home_h3 white_text rights_reserved_text">Todos los derechos reservados a Ohana Home</p>
            <!-- Contact mail. -->
            <p class="home_h3 white_text contact_mail">contacto@ohanahome.mx</p>
            <!-- MOH footer logo. -->
            <img class="moh_logo_footer" src="../images/MOH_logo_2.png"> 
          </div>
        </div>
      </div>
    </div>
    <!-- JQuery -->
    <script src="../libraries/jquery/jquery-2.1.4.js"></script>
    <!-- Backstretch. -->
    <script src="../libraries/backstretch/jquery.backstretch.min.js"></script>
    <!-- Floatl. -->
    <script src="../libraries/floatl-master/lib/js/floatl.global.js"></script>
    <!-- Own scripts. -->
    <script src="../scripts/contact_page/contact_page_jquery.js"></script>
  </body>
</html>