<!doctype html>
<html>
  <head>
    <!-- Page information. -->
    <title>My Ohana Home | Home Page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Fonts. -->
    <!-- Source sans pro (regular and bold), from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/>
    <!-- Libraries styles. -->
    <!-- Normalize. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/normalize/normalize.css"/>
    <!-- Slick. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/slick-1.6.0/slick/slick.css"/>
    <link rel="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
    <!-- Own styles. -->
    <link rel="stylesheet" rel="stylesheet" href="../styles/product_page/product_page_desktop.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/product_page/product_page_tablet.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/product_page/product_page_phone.css"/>
  </head>
  <body>
    <!-- Header of the Land Page. -->
    <div class="header_with_icon">
      <!-- Content of the header. -->
      <div class="header_content">
        <img class="header_logo" src="../images/ohana_icon.png"/>
      </div>
    </div>
    <!-- The content, this fits the rest of the page leaved by the header. -->
    <div class="view_content">
      <!-- First part of the Home page, the part where the register is. This section fits the full screen. -->
      <div class="fit_full_screen" id="presentation_section">
        <div class="principal_column">
          <div class="principal_column_flex">
            <div class="principal_column_content">
              <!-- Logo 'Ohana home'. -->
              <img class="logo_img" src="../images/MOH_logo.png"/>
              <!-- Slogan. -->
              <p class="home_h1 white_text slogan_text">"Complementamos tu hogar"</p>
              <!-- Introduction text. -->
              <p class="home_h2 white_text introduction_text">Introducción introducción introducción introducción introducción introducción introducción<br>Introducción introducción introducción introducción introducción introducción.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="app_section">
        <div class="app_column">
          <div class="app_section_flex">
            <div class="app_section_content">
              <p class="home_h1 gray_text app_title">App</p>
              <p class="home_h3 gray_text app_description">Descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br>descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br>descripción, descripción, descripción, descripción, descripción, descripción, descripción</p>
            </div>
          </div>
        </div>
      </div>
      <div id="characteristics_section">
        <!-- Left side of the section, the mision part. -->
        <div class="characteristic1">
          <div class="characteristic1_flex">
            <div class="characteristic1_content">
              <!-- Title of the part. -->
              <p class="home_h1 white_text">Característica 1</p>
              <!-- Description of the part. -->
              <p class="home_h3 white_text">Descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br>descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br>descripción, descripción, descripción, descripción, descripción, descripción, descripción</p>
            </div>
          </div>
        </div>
        <!-- Right side of the section, the vision part. -->
        <div class="characteristic2">
          <div class="characteristic2_flex">
            <div class="characteristic2_content">
              <!-- Title of the part. -->
              <p class="home_h1 white_text">Característica 2</p>
              <!-- Description of the part. -->
              <p class="home_h3 white_text">Descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br>descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción, descripción<br></p>
            </div>
          </div>
        </div>
      </div>
      <div id="app_explanation_section">
        <div class="app_explanation_content">
          <div class="phone_container">
            <div id="app_views_container">
              <div id="app_views_wrapper">
                <div class="app_view" id="view_one"></div>
                <div class="app_view" id="view_two"></div>
                <div class="app_view" id="view_three"></div>
              </div>
            </div>
          </div>
          <div class="description_content">
            <div id="description_app_view_container">
              <div id="description_app_view_wrapper">
                <div class="app_view_description" id="view_description_one">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description" id="view_description_two">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description" id="view_description_three">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
              </div>
            </div>
          </div>
          <div id="navLinks">
            <ul>
              <li class="itemLinks" data-pos="0px" id="link_one"></li>
              <li class="itemLinks" data-pos="-320px" id="link_two"></li>
              <li class="itemLinks" data-pos="-640px" id="link_three"></li>
            </ul>
          </div>
          <div id="hidden_navLinks" style="display: none;">
            <ul>
              <li class="itemLinks_description" data-pos="0px" id="hidden_link_one"></li>
              <li class="itemLinks_description" data-pos="-285px" id="hidden_link_two"></li>
              <li class="itemLinks_description" data-pos="-570px" id="hidden_link_three"></li>
            </ul>
          </div>
        </div>
        
        
        
        <div class="app_explanation_content_t">
          <div class="phone_container_t">
            <div id="app_views_container_t">
              <div id="app_views_wrapper_t">
                <div class="app_view_t" id="view_one_t"></div>
                <div class="app_view_t" id="view_two_t"></div>
                <div class="app_view_t" id="view_three_t"></div>
              </div>
            </div>
          </div>
          <div class="description_content_t">
            <div id="description_app_view_container_t">
              <div id="description_app_view_wrapper_t">
                <div class="app_view_description_t" id="view_description_one_t">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description_t" id="view_description_two_t">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description_t" id="view_description_three_t">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
              </div>
            </div>
          </div>
          <div id="navLinks_t">
            <ul>
              <li class="itemLinks_t" data-pos="0px" id="link_one_t"></li>
              <li class="itemLinks_t" data-pos="-190px" id="link_two_t"></li>
              <li class="itemLinks_t" data-pos="-380px" id="link_three_t"></li>
            </ul>
          </div>
          <div id="hidden_navLinks_t" style="display: none;">
            <ul>
              <li class="itemLinks_description_t" data-pos="0px" id="hidden_link_one_t"></li>
              <li class="itemLinks_description_t" data-pos="-180px" id="hidden_link_two_t"></li>
              <li class="itemLinks_description_t" data-pos="-360px" id="hidden_link_three_t"></li>
            </ul>
          </div>
        </div>
        
        
        
        
        <div class="app_explanation_content_m">
          <div class="description_content_m">
            <div id="description_app_view_container_m">
              <div id="description_app_view_wrapper_m">
                <div class="app_view_description_m" id="view_description_one_m">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description_m" id="view_description_two_m">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
                <div class="app_view_description_m" id="view_description_three_m">
                  <img class="description_app_image" src="../images/money.png"/>
                  <p class="home_h3 gray_text text_carousel_app">Característica 1, característica 1, caracteristica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1, característica 1</p>
                </div>
              </div>
            </div>
          </div>
          <div class="phone_container_m">
            <div id="app_views_container_m">
              <div id="app_views_wrapper_m">
                <div class="app_view_m" id="view_one_m"></div>
                <div class="app_view_m" id="view_two_m"></div>
                <div class="app_view_m" id="view_three_m"></div>
              </div>
            </div>
          </div>
          <div id="navLinks_m">
            <ul>
              <li class="itemLinks_m" data-pos="0px" id="link_one_m"></li>
              <li class="itemLinks_m" data-pos="-146px" id="link_two_m"></li>
              <li class="itemLinks_m" data-pos="-292px" id="link_three_m"></li>
            </ul>
          </div>
          <div id="hidden_navLinks_m" style="display: none;">
            <ul>
              <li class="itemLinks_description_m" data-pos="0px" id="hidden_link_one_m"></li>
              <li class="itemLinks_description_m" data-pos="-180px" id="hidden_link_two_m"></li>
              <li class="itemLinks_description_m" data-pos="-360px" id="hidden_link_three_m"></li>
            </ul>
          </div>
        </div>
        
        
        
        
      </div>
      <!-- Footer. -->
      <div class="product_footer">
        <!-- Top of the footer. -->
        <div class="product_footer_top">
          <!-- Social networks logos container. -->
          <div class="product_footer_top_content">
            <!-- Facebook logo. -->
            <img src="../images/facebook.png" class="facebook_logo">
            <!-- Google Plus logo. -->
            <img src="../images/googleplus.png" class="googleplus_logo">
          </div>
        </div>
        <!-- Bottom of the footer. -->
        <div class="product_footer_bottom">
          <!-- Content of the bottom of the footer. -->
          <div class="product_footer_bottom_content">
            <!-- Rights reserved text. -->
            <p class="home_h3 white_text rights_reserved_text">Todos los derechos reservados a Ohana Home</p>
            <!-- Contact mail. -->
            <p class="home_h3 white_text contact_mail">contacto@ohanahome.mx</p>
            <!-- MOH footer logo. -->
            <img class="moh_logo_footer" src="../images/MOH_logo_2.png"> 
          </div>
        </div>
      </div>
    </div>
    <!-- Libraries scripts. -->
    <!-- JQuery -->
    <script src="../libraries/jquery/jquery-2.1.4.js"></script>
    <!-- Backstretch. -->
    <script src="../libraries/backstretch/jquery.backstretch.min.js"></script>
    <!-- Slick. -->
    <script src="../libraries/slick-1.6.0/slick/slick.js"></script>
    <!-- Add support to transition -->
    <script src="//www.kirupa.com/prefixfree.min.js"></script>
    <!-- Own scripts. -->
    <script src="../scripts/product_page/product_page_jquery.js"></script>
  </body>
</html>