<!doctype html>
<html>
  <head>
    <!-- Page information. -->
    <title>My Ohana Home | Thank You</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Fonts. -->
    <!-- Source sans pro (regular and bold), from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/>
    <!-- Libraries styles. -->
    <!-- Normalize. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/normalize/normalize.css"/>
    <!-- Own styles. -->
    <link rel="stylesheet" rel="stylesheet" href="../styles/thank_you_page/thank_you_page_desktop.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/thank_you_page/thank_you_page_tablet.css"/>
    <link rel="stylesheet" rel="stylesheet" href="../styles/thank_you_page/thank_you_page_phone.css"/>
  </head>
  <body>
    <!-- Header of the Land Page. -->
    <div class="header_with_icon">
      <!-- Content of the header. -->
      <div class="header_content">
        <img class="header_logo" src="../images/ohana_icon.png"/>
      </div>
    </div>
    <!-- The content, this fits the rest of the page leaved by the header. -->
    <div class="view_content">
      <div id="principal_section">
        <div class="principal_column">
          <div class="principal_column_flex">
            <div class="principal_column_content">
              <img src="../images/MOH_logo.png"/>
              <p class="home_h1 white_text slogan_text">"Complementamos tu hogar"</p>
              <p class="home_h2 white_text description_text">Text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text<br>, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text<br>, text, text, text, text, text, text, text, text, text, text, text, text, text, text<br>, text, text, text, text, text, text, text, text</p>
              <button class="thank_you_button home_h3 white_text">Gracias</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer. -->
      <div class="thank_you_footer">
        <!-- Top of the footer. -->
        <div class="thank_you_footer_top">
          <!-- Social networks logos container. -->
          <div class="thank_you_footer_top_content">
            <!-- Facebook logo. -->
            <img src="../images/facebook.png" class="facebook_logo">
            <!-- Google Plus logo. -->
            <img src="../images/googleplus.png" class="googleplus_logo">
          </div>
        </div>
        <!-- Bottom of the footer. -->
        <div class="thank_you_footer_bottom">
          <!-- Content of the bottom of the footer. -->
          <div class="thank_you_footer_bottom_content">
            <!-- Rights reserved text. -->
            <p class="home_h3 white_text rights_reserved_text">Todos los derechos reservados a Ohana Home</p>
            <!-- Contact mail. -->
            <p class="home_h3 white_text contact_mail">contacto@ohanahome.mx</p>
            <!-- MOH footer logo. -->
            <img class="moh_logo_footer" src="../images/MOH_logo_2.png"> 
          </div>
        </div>
      </div>
    </div>
    <!-- Libraries scripts. -->
    <!-- JQuery -->
    <script src="../libraries/jquery/jquery-2.1.4.js"></script>
    <!-- Backstretch. -->
    <script src="../libraries/backstretch/jquery.backstretch.min.js"></script>
    <!-- Own scripts. -->
    <script src="../scripts/thank_you_page/thank_you_page_jquery.js"></script>
  </body>
</html>