<!doctype html>
<html>
  <head>
    <!-- Page information. -->
    <title>My Ohana Home | Home Page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Fonts. -->
    <!-- Source sans pro (regular and bold), from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/> 
    <!-- Libraries styles. -->
    <!-- Normalize. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/normalize/normalize.css"/>
    <!-- Floatl. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/floatl-master/lib/css/floatl.css"/>
    <!-- Slick. -->
    <link rel="stylesheet" rel="stylesheet" href="../libraries/slick-1.6.0/slick/slick.css"/>
    <link rel="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
    <!-- Own styles. -->
    <link type="text/css" rel="stylesheet" href="../styles/home_page/home_page_modal.css"/>
    <!-- File with the general styles (desktop size styles). -->
    <link type="text/css" rel="stylesheet" href="../styles/home_page/home_page_desktop.css"/>
    <!-- Overwrite styles to made them fit in tablet screen sizes (<=1024px). -->
    <link type="text/css" rel="stylesheet" href="../styles/home_page/home_page_tablet.css"/>
    <!-- Overwrite styles to made them fit in phone screen sizes (<=750px). -->
    <link type="text/css" rel="stylesheet" href="../styles/home_page/home_page_phone.css"/>
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- 'X' to close the modal, it isn't visible, but it's necessary to the action of close the modal. -->
      <span class="close" style="displa: none;">×</span>
      <!-- Modal content. -->
      <div class="modal-content">
        <!-- Invitation to register. -->
        <p class="home_h2 gray_text invitation_to_register_text">Registrate y mantente actualizado sobre<br>las noticias de Ohana Home</p>
        <!-- To adjust the inputs and the button of register. -->
        <div class="modal_content_container">
          <!-- Names input. The structure of this inputs is given by Floatl: https://richardvenneman.github.io/floatl/example/ -->
          <div class="input_register">
            <div class="floatl">
              <label for="register_name_mobile" class="floatl__label">Nombre(s)</label>
              <input name="register_name_mobile" class="floatl__input" placeholder="Nombre(s)" type="text"/>
            </div>
          </div>
          <!-- Last names input. -->
          <div class="input_register">
            <div class="floatl">
              <label for="register_last_names_mobile" class="floatl__label">Apellidos</label>
              <input name="register_last_names_mobile" class="floatl__input" placeholder="Apellidos" type="text"/>
            </div>
          </div>
          <!-- Mail input. -->
          <div class="input_register">
            <div class="floatl">
              <label for="register_mail_mobile" class="floatl__label">Correo</label>
              <input name="register_mail_mobile" class="floatl__input" placeholder="Correo" type="text"/>
            </div>
          </div>
          <!-- Button to submit the register. -->
          <button class="register_button home_h3 white_text">Registrarse</button>
        </div>
      </div>
    </div>
    <!-- Header of the Home Page. -->
    <div class="header_with_tabs">
      <!-- Burger menu, only visible in phone screen sizes (<=750px). -->
      <div id="burger_menu"></div>
      <!-- Container of the tabs, used to center them. -->
      <div class="tabs_container">
        <!-- Tabs. -->
        <div class="tab">
          <p class="white_text home_h3 tab_text_margin">Qué es MOH</p>
        </div><!--
        --><div class="tab left_margin_tab">
          <p class="white_text home_h3 tab_text_margin">Misión y visión</p>
        </div><!--
        --><div class="tab left_margin_tab">
          <p class="white_text home_h3 tab_text_margin">Equipo</p>
        </div><!--
        --><div class="tab left_margin_tab">
          <p class="white_text home_h3 tab_text_margin">Testimonios</p>
        </div>
      </div>
    </div>
    <!-- The tabs of the phones screen sizes (<=750px). -->
    <div class="mobile_tabs" id="mobile_tabs_id">
      <!-- This div fits its father, in case that the screen width is smaller than 330px it shows a scroll. -->
      <div class="mobile_tabs_scroll">
        <!-- Container of the tabs. -->
        <div class="mobile_tabs_container">
          <!-- Tabs. -->
          <div class="mobile_tab">
            <p class="white_text home_h3 mobile_tab_text_margin">Qué es MOH</p>
          </div><!--
          --><div class="mobile_tab mobile_tab_margin_left">
            <p class="white_text home_h3 mobile_tab_text_margin">Misión y Visión</p>
          </div><!--
          --><div class="mobile_tab mobile_tab_margin_left">
            <p class="white_text home_h3 mobile_tab_text_margin">Equipo</p>
          </div><!--
          --><div class="mobile_tab mobile_tab_margin_left">
            <p class="white_text home_h3 mobile_tab_text_margin">Testimonios</p>
          </div>
        </div>
      </div>
    </div>
    <!-- The content, this fits the rest of the page leaved by the header. -->
    <div class="view_content">
      <!-- First part of the Home page, the part where the register is. This section fits the full screen. -->
      <div class="fit_full_screen" id="register_section">
        <!-- Column in the left, here are the dots. -->
        <div class="dot_column">
          <div class="dot_flex">
            <div class="dot_content">
              <!-- The dots. -->
              <div class="dot_div"></div>
              <div class="dot_div dot_margin_top"></div>
              <div class="dot_div dot_margin_top"></div>
              <div class="dot_div dot_margin_top"></div>
            </div>
          </div>
        </div>
        <!-- Left column of the register section. -->
        <div class="column_left">
          <div class="column_left_flex">
            <div class="column_left_content">
              <!-- Logo 'Ohana home'. -->
              <img class="logo_img" src="../images/MOH_logo.png"/>
              <!-- Slogan. -->
              <p class="home_h1 white_text">"Complementamos tu hogar"</p>
              <!-- Introduction text. -->
              <p class="home_h2 white_text introduction_text">Introducción introducción introducción introducción introducción introducción introducción<br>Introducción introducción introducción introducción introducción introducción.</p>
              <!-- In phone screen sizes appears a button to register, this opens the modal to register. -->
              <button class="register_button home_h3 white_text" id="mobile_register_button">Registrarse</button>
            </div>
          </div>
        </div>
        <!-- Right column of the register section. -->
        <div class="column_right">
          <div class="column_right_flex">
            <div class="column_right_content">
              <!-- Invitation to register. -->
              <p class="home_h2 white_text invitation_to_register_text">Registrate y mantente actualizado sobre<br>las noticias de Ohana Home</p>
              <!-- Names input. -->
              <div class="input_register">
                <div class="floatl">
                  <label for="register_name" class="floatl__label">Nombre(s)</label>
                  <input name="register_name" class="floatl__input" placeholder="Nombre(s)" type="text" />
                </div>
              </div>
              <!-- Last names input. -->
              <div class="input_register">
                <div class="floatl">
                  <label for="register_last_names" class="floatl__label">Apellidos</label>
                  <input name="register_last_names" class="floatl__input" placeholder="Apellidos" type="text" />
                </div>
              </div>
              <!-- Mail input. -->
              <div class="input_register">
                <div class="floatl">
                  <label for="register_mail" class="floatl__label">Correo</label>
                  <input name="register_mail" class="floatl__input" placeholder="Correo" type="text" />
                </div>
              </div>
              <!-- Button to submit register. -->
              <button class="register_button home_h3 white_text">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
      <!-- What is MOH section. -->
      <div id="what_is_moh_section">
        <!-- Content of the section -->
        <div class="what_is_moh_content">
          <!-- Title of the section -->
          <p class="home_h1 gray_text what_is_moh_title">Qué es MOH</p>
          <!-- Explanation of Whats is MOH. -->
          <p class="home_h3 gray_text what_is_moh_general_description">My Ohana Home es una manera de automatizar tu hogar para ayudarte a completar las diferentes tareas que hacen que gastes tus tiempo. Siéntete cómodo de que todo dentro de tu hogar esta funcionando de manera óptima.</p>
          <!-- Container of the descriptions.. -->
          <div class="descriptions_container">
            <!-- The descriptions. -->
            <!-- Containerof a description. -->
            <div class="description_div">
              <!-- Left side of the description, where the image is located. -->
              <div class="img_description_container">
                <!-- Image of the description. -->
                <img class="description_image" src="../images/persons.png"/>
              </div>
              <!-- Right side of the description, where the text is located. -->
              <div class="text_description_container">
                <!-- Text of the description. -->
                <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
              </div>
            </div>
            <!-- Containerof a description. -->
            <div class="description_div">
              <!-- Left side of the description, where the image is located. -->
              <div class="img_description_container">
                <!-- Image of the description. -->
                <img class="description_image" src="../images/clock.png"/>
              </div>
              <!-- Right side of the description, where the text is located. -->
              <div class="text_description_container">
                <!-- Text of the description. -->
                <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
              </div>
            </div>
            <!-- Containerof a description. -->
            <div class="description_div">
              <!-- Left side of the description, where the image is located. -->
              <div class="img_description_container">
                <!-- Image of the description. -->
                <img class="description_image" src="../images/money.png"/>
              </div>
              <!-- Right side of the description, where the text is located. -->
              <div class="text_description_container">
                <!-- Text of the description. -->
                <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mision and vision section. -->
      <div id="mision_and_vision_section">
        <!-- Left side of the section, the mision part. -->
        <div class="mision_div">
          <div class="mision_flex">
            <div class="mision_content">
              <!-- Title of the part. -->
              <p class="home_h1 white_text">Misión</p>
              <!-- Description of the part. -->
              <p class="home_h3 white_text">My Ohana Home es una manera de automatizar tu hogar para ayudarte a completar las diferentes tareas que hacen que gastes tus tiempo. Siéntete cómodo de que todo dentro de tu hogar esta funcionando de manera óptima.</p>
            </div>
          </div>
        </div>
        <!-- Right side of the section, the vision part. -->
        <div class="vision_div">
          <div class="vision_flex">
            <div class="vision_content">
              <!-- Title of the part. -->
              <p class="home_h1 white_text">Visión</p>
              <!-- Description of the part. -->
              <p class="home_h3 white_text">My Ohana Home es una manera de automatizar tu hogar para ayudarte a completar las diferentes tareas que hacen que gastes tus tiempo. Siéntete cómodo de que todo dentro de tu hogar esta funcionando de manera óptima.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Team section. -->
      <div id="team_section">
        <!-- Content of the section -->
        <div class="team_content">
          <!-- Title of the section -->
          <p class="home_h1 gray_text team_title">Equipo</p>
          <!-- Introduction text. -->
          <p class="home_h3 gray_text team_general_description">Descripción del equipo, descripción del equipo, descripción del equipo, descripción del equipo, descripción del equipo, descripción del equipo, descripción del equipo, descripción del equip</p>
          <!-- Slider where are the members of the team. -->
          <div id="team_slider">
            <!-- Carousel element. -->
            <div class="carousel_element">
              <!-- Content of the carousel element. -->
              <div class="description_carousel">
                <!-- Image container. -->
                <div class="img_description_container">
                  <!-- The image. -->
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <!-- Text container. -->
                <div class="text_description_container">
                  <!-- The text. -->
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div class="carousel_element">
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
          </div>
          <div id="team_slider_phone">
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description_carousel">
                <div class="img_description_container">
                  <img class="description_image" src="../images/Oval%204.png"/>
                </div>
                <div class="text_description_container">
                  <p class="home_h3 gray_text">Descubre fácilmente información acerca de tu casa gracias a nuestro sistema de administración del hogar basado en Crowdsorcing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Reviews section. -->
      <div id="reviews_section">
        <!-- Left side of the reviews section. -->
        <div class="review_left_side" id="review_left_side_id">
        </div>
        <!-- Right side of the reviews section. -->
        <div class="review_right_side">
          <div class="review_right_side_content">
            <!-- Reviews carousel. -->
            <div id="reviews_carousel">
              <!-- Carousel element. -->
              <div class="reviews_carousel_container">
                <!-- Content of the carousel element. -->
                <div class="reviews_carousel_content">
                  <!-- Open quotation marks. -->
                  <img src="../images/comillas1.png" class="open_quotation_marks"/>
                  <!-- The review container. -->
                  <div class="reviews_carousel_flex">
                    <div>
                      <!-- The review. -->
                      <p class="home_h3 white_text review_margin">Yo actualmente estudio una maestría y siempre me falta tiempo para todo lo que tengo que hacer en el día, desde que uso el sistema de automatización My Ohana Home, tengo mas tiempo para preocuparme por mis estudios en lugar de estresarme por las cosas de mi casa.</p>
                      <!-- Date of the review. -->
                      <p class="home_h3 white_text review_date_margin">25/04/2016</p>
                    </div>
                  </div>
                  <!-- Owner of the review. -->
                  <p class="home_h3 white_text review_witness">Pamela Romero</p>
                  <!-- Close quotation marks. -->
                  <img src="../images/comillas2.png" class="close_quotation_marks"/>
                </div>
              </div>
              <div class="reviews_carousel_container">
                <div class="reviews_carousel_content">
                  <img src="../images/comillas1.png" class="open_quotation_marks"/>
                  <div class="reviews_carousel_flex">
                    <div>
                      <p class="home_h3 white_text review_margin">Yo actualmente estudio una maestría y siempre me falta tiempo para todo lo que tengo que hacer en el día, desde que uso el sistema de automatización My Ohana Home, tengo mas tiempo para preocuparme por mis estudios en lugar de estresarme por las cosas de mi casa.</p>
                      <p class="home_h3 white_text review_date_margin">25/04/2016</p>
                    </div>
                  </div>
                  <p class="home_h3 white_text review_witness">Pamela Romero</p>
                  <img src="../images/comillas2.png" class="close_quotation_marks"/>
                </div>
              </div>
              <div class="reviews_carousel_container">
                <div class="reviews_carousel_content">
                  <img src="../images/comillas1.png" class="open_quotation_marks"/>
                  <div class="reviews_carousel_flex">
                    <div>
                      <p class="home_h3 white_text review_margin">Yo actualmente estudio una maestría y siempre me falta tiempo para todo lo que tengo que hacer en el día, desde que uso el sistema de automatización My Ohana Home, tengo mas tiempo para preocuparme por mis estudios en lugar de estresarme por las cosas de mi casa.</p>
                      <p class="home_h3 white_text review_date_margin">25/04/2016</p>
                    </div>
                  </div>
                  <p class="home_h3 white_text review_witness">Pamela Romero</p>
                  <img src="../images/comillas2.png" class="close_quotation_marks"/>
                </div>
              </div>
              <div class="reviews_carousel_container">
                <div class="reviews_carousel_content">
                  <img src="../images/comillas1.png" class="open_quotation_marks"/>
                  <div class="reviews_carousel_flex">
                    <div>
                      <p class="home_h3 white_text review_margin">Yo actualmente estudio una maestría y siempre me falta tiempo para todo lo que tengo que hacer en el día, desde que uso el sistema de automatización My Ohana Home, tengo mas tiempo para preocuparme por mis estudios en lugar de estresarme por las cosas de mi casa.</p>
                      <p class="home_h3 white_text review_date_margin">25/04/2016</p>
                    </div>
                  </div>
                  <p class="home_h3 white_text review_witness">Pamela Romero</p>
                  <img src="../images/comillas2.png" class="close_quotation_marks"/>
                </div>
              </div>
              <div class="reviews_carousel_container">
                <div class="reviews_carousel_content">
                  <img src="../images/comillas1.png" class="open_quotation_marks"/>
                  <div class="reviews_carousel_flex">
                    <div>
                      <p class="home_h3 white_text review_margin">Yo actualmente estudio una maestría y siempre me falta tiempo para todo lo que tengo que hacer en el día, desde que uso el sistema de automatización My Ohana Home, tengo mas tiempo para preocuparme por mis estudios en lugar de estresarme por las cosas de mi casa.</p>
                      <p class="home_h3 white_text review_date_margin">25/04/2016</p>
                    </div>
                  </div>
                  <p class="home_h3 white_text review_witness">Pamela Romero</p>
                  <img src="../images/comillas2.png" class="close_quotation_marks"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer. -->
      <div class="home_footer">
        <!-- Top of the footer. -->
        <div class="home_footer_top">
          <!-- Social networks logos container. -->
          <div class="home_footer_top_content">
            <!-- Facebook logo. -->
            <img src="../images/facebook.png" class="facebook_logo">
            <!-- Google Plus logo. -->
            <img src="../images/googleplus.png" class="googleplus_logo">
          </div>
        </div>
        <!-- Bottom of the footer. -->
        <div class="home_footer_bottom">
          <!-- Content of the bottom of the footer. -->
          <div class="home_footer_bottom_content">
            <!-- Rights reserved text. -->
            <p class="home_h3 white_text rights_reserved_text">Todos los derechos reservados a Ohana Home</p>
            <!-- Contact mail. -->
            <p class="home_h3 white_text contact_mail">contacto@ohanahome.mx</p>
            <!-- MOH footer logo. -->
            <img class="moh_logo_footer" src="../images/MOH_logo_2.png"> 
          </div>
        </div>
      </div>
    </div>
    <!-- Libraries scripts. -->
    <!-- JQuery -->
    <script src="../libraries/jquery/jquery-2.1.4.js"></script>
    <!-- Backstretch. -->
    <script src="../libraries/backstretch/jquery.backstretch.min.js"></script>
    <!-- Floatl. -->
    <script src="../libraries/floatl-master/lib/js/floatl.global.js"></script>
    <!-- Slick. -->
    <script src="../libraries/slick-1.6.0/slick/slick.js"></script>
    <!-- Own scripts. -->
    <script src="../scripts/home_page/home_page_jquery.js"></script>
    <script src="../scripts/home_page/home_page_modal.js"></script>
  </body>
</html>