/*Phone styles.*/
@media only screen and (max-width: 750px) {
  /***** General styles. *****/
  /*Fit the space left by the header.*/
  .view_content{
    height: calc(100vh - 50px);
    margin-top: 50px;
  }
  
  /*H1.*/
  .home_h1{
    font-size: 24px !important;
  }
  
  .home_h3{
    margin-bottom: 0px;
  }
  /***** End of the general styles. *****/
  
  /***** Header styles. *****/
  /*Header.*/
  .header_with_tabs{
    display: block;
    height: 50px;
    overflow: auto;
  }
  
  .tabs_container{
    display: none;
  }
  
  /*Burger menu.*/
  #burger_menu{
    display: block;
  }
  
  .mobile_tabs{
    top: 50;
  }
  /***** End of the header styles. *****/
  
  /***** Register section styles. *****/
  .fit_full_screen{
    height: calc(100vh - 50px);
    min-height: 450px;
  }
  
  .dot_column{
    height: calc(100vh - 50px);
    min-height: 400px;
  }
  
  .dot_flex{
    min-height: 400px;
  }
  
  .column_left{
    max-width: 240px;
    height: calc(100vh - 50px);
    min-height: 450px;
  }
  
  .column_left_flex{
    max-width: 240px;
    align-items: center;
    height: calc(100vh - 50px);
    min-height: 450px;
  }
  
  .column_right{
    display: none;
  }
  
  #mobile_register_button{
    display: block;
    margin-top: 50px;
  }
  /***** End of the register section styles. *****/
  
  /***** What is MOH section styles. *****/
  #what_is_moh_section{
    height: 890px;
  }
  
  .what_is_moh_title{
    margin-bottom: 10px;
  }
  
  .what_is_moh_general_description{
    margin: 10px auto 60px auto;
    max-width: 260px;
  }
  
  .descriptions_container{
    display: block;
    width: 100%;
    max-width: 180px;
    margin: 1px auto 0px auto;
  }
  
  .description_div{
    margin: 0px;
    width: 100%;
    display: block;
  }
  
  .img_description_container{
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 10px;
  }
  
  .description_image{
    margin-top: 0px;
  }
  
  .text_description_container{
    display: block;
    width: 100%;
    max-width: 180px;
    height: initial;
    margin: 10px auto 10px auto;
  }
  /***** End of the What is MOH section styles. *****/
  
  /***** Vision and Mision section styles. *****/
  #mision_and_vision_section{
    height: 600px;
    text-align: center;
  }
  
  .mision_div{
    position: relative;
    max-width: 320px;
    height: 300px;
    left: initial;
    margin: 0px auto 0px auto;
    display: block;
  }
  
  .mision_flex{
    height: 300px;
  }
  
  .vision_div{
    position: relative;
    max-width: 320px;
    height: 300px;
    right: initial;
    margin: 0px auto 0px auto;
    display: block;
  }
  
  .vision_flex{
    height: 300px;
  }
  /***** End of the Vision and Mision section styles. *****/
  
  /***** Team section styles. *****/
  #team_section{
    height: 520px;
  }
  
  .team_general_description{
    max-width: 260px;
    margin: 10px auto 60px auto;
  }
  
  #team_slider{
    display: none;
  }
  
  #team_slider_phone{
    display: block;
    width: 90%;
    max-width: 180px;
    height: 215px;
    margin: 0px auto 0px auto;
  }
  
  .description_carousel{
    max-width: 180px;
  }
  
  .description_image{
    display: inline-block !important;
  }
  /***** End of the Team section styles. *****/
  
  /***** Reviews section styles. *****/
  .review_left_side{
    display: none;
  }
  
  .review_right_side{
    width: 100%;
  }
  
  .review_right_side_content{
    height: 214px;
  }
  
  #reviews_carousel{
    width: 80%;
    max-width: 260px;
    height: 214px;
  }
  
  .reviews_carousel_content{
    height: 214px;
  }
  
  .reviews_carousel_flex{
    height: 200px;
    width: 100%;
    max-width: 210px;
  }
  /***** End of the reviews section styles. *****/
  
  /***** Footer section styles. *****/
  .home_footer{
    width: 100%;
    height: 225px;
  }
  
  .home_footer_bottom{
    height: 135px;
  }
  
  .home_footer_bottom_content{
    height: 135px;
  }
  
  .rights_reserved_text{
    display: block;
    position: initial;
    width: 281px;
    margin: 20px auto 0px auto;
  }
  
  .contact_mail{
    display: block;
    position: initial;
    width: 281px;
    margin: 0px auto 0px auto;
  }
  /***** End of the footer section styles. *****/
}